@charset "UTF-8";

/* configurando as sections de produtos de espécies */
section#area-titulo
{
    /*fundo*/
    background:
        linear-gradient(rgba(0,0,0,0.6)), 
        url("../imagens/background-especies.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    

    /*flexbox*/
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 500px;
}

section#area-titulo h1
{
    color: #ffffff;
    font-weight: 700;
    font-family: Chewy;
    font-size: 3.5em;
}

section#area-titulo h2
{
    color: #ffffff;
}

section#area-itens
{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    width: 100%;
}

section#area1, section#area2
{
    /* flexbox */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    
    width: 100%;
    max-width: 1200px;
    height: auto;
    padding: 50px;
}

section#area1 div.item, section#area2 div.item 
{
    background-color: #ffffff;
    max-width: 250px;
    max-height: 350px;
    margin: 0px 40px 35px 40px;
    padding: 10px;
    border-radius: 20px;
    color: #000000;

    flex: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

div.item img 
{
    width: 210px;
    height: 180px;
    flex: auto;
    border-radius: 20px;
}

div.item h1 
{
    margin-top: 15px;
    font-size: 1.7em;
    font-weight: 600;
    font-family: 'Chewy';
}

