@charset "UTF-8";

/*Fontes do site*/

/*para título*/
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Chewy&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


/* Variáveis de cor */
:root 
{
    --cor1: #141414;
    --cor2: #04002b;
    --cor3: #ffffff;
}

*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body 
{
    min-height: 100vh;
    width: 100vw;
    overflow-x: clip;
    /*background-color: var(--cor2);*/
    background-color: var(--cor2);
    display: flex;
    flex-flow: column wrap;
}

/*configurações do header*/

header
{
    background-color: var(--cor1) !important;
    height: 80px !important;
    padding-top: 10px !important;
    position: sticky !important; /*o elemento fica fixo só quando há rolagem na página*/
    width: 100% !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 1000 !important; /*serve para sobrepor elementos de valores menores, nesse caso, o valor é 1000, se houvesse um elemento de mesmo valor ou maior, ele não conseguiria sobrepor*/
    transition: all 0.5s ease-in-out !important; /*transição dos efeitos*/
}

header.ativado
{
    height: auto !important;
    padding-top: 0px !important;
}

header #whats-inst-icons
{
    /*flexbox*/
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;

    
    width: 100%;
    height: auto;
    background-color: #00000017;
    margin: auto;
    margin-top: -9px;
    padding: 5px 20px 5px 5px !important;
    opacity: 1; 
    transition: all 0.15s ease; /*transição para dar efeito*/
}

.sumir
{
    height: 0px;
    opacity: 0;
    pointer-events: none; /*impede que qualquer elemento seja clicado*/
}


#whats-inst-icons > a 
{
    color: #d4d4d4;
    font-size: 1.75em;
    margin: 0px 5px;
    padding: 0px 0px 0px 0px !important;
    text-decoration: none;
    transition: all 0.3s ease;
}

#whats-inst-icons > a:hover
{
    color: #ffffff;
}

/* responsividade para telas menores com a largura indicada */

@media screen and (width <= 988px) {
    #whats-inst-icons > a 
    {
        font-size: 2.2em;
        margin: 0px 5px;
    }
}

header > nav 
{
    color: var(--cor3) !important;
    font-size: 1.19em !important;
    transition: all 0.4s ease-in-out !important;
}

header > nav.ativado
{   
    font-size: 1.15em !important;
    font-weight: 500 !important;
}

nav.nav-bar .navbar-toggler
{
    color: var(--cor3) !important;
}

.nav-link 
{
    color: var(--cor3) !important;
}

nav .dropdown-menu
{
    background-color: #0e0d0d !important;
}

/*configurações do main*/

main 
{
    flex: 1;
}

.carousel-item, .d-block 
{
    max-height: 600px !important;
}

/*configuração section#destaque*/

main section#destaque 
{
    color: #ffffff;
    display: flex;
    flex-flow: column wrap; /*simplificação das propriedades flex-direction e flex-wrap (shorthands)*/
    justify-content: center; /*main-axis --> eixo principal*/
    align-items: center; /*cross-axis --> eixo transversal (secundário)*/
    margin-top: 35px;
}

section#destaque > h1
{
    font-size: 2.5em;
    font-weight: 600;
    font-family: 'Chewy';
}

section#destaque hr
{
    color: #ffffff;
    width: 25%;
}

/*configuração dos itens de destaque da página*/

section#destaque div#itens-destaque
{
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

div#itens-destaque div.item 
{
    background-color: #ffffff;
    max-width: 250px;
    max-height: 350px;
    margin: 0px 40px 35px 40px;
    padding: 10px;
    border-radius: 20px;
    color: #000000;

    flex: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

div.item img 
{
    width: 210px;
    height: 180px;
    flex: auto;
    border-radius: 20px;
}

div.item h1 
{
    margin-top: 15px;
    font-size: 1.7em;
    font-weight: 600;
    font-family: 'Chewy';
}

div.item p#descricao
{
    max-width: 220px;
    font-size: 0.9em;
    text-align: justify;
    white-space: nowrap; /*para não quebrar a linha com o texto*/
    overflow: hidden; /*esconder caso o texto saia para fora do conteiner*/
    text-overflow: ellipsis; /*adiciona "..." para textos grandes*/
}

/*classes para a animação dos itens em destaque (complementada no arquivo JavaScript)*/

.destaque 
{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.destaque.aparecendo {
    opacity: 1;
    transform: translateY(0);
}

/* configuração da área sobre-nós */

main section#sobre-nos
{
    display: flex;
    flex-flow: column wrap;
    
    color: #ffffff;
}

section#sobre-nos > div#conteudos-horizontais
{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;

    margin-top: 25px;
    padding-bottom: 20px;
}

div#conteudos-horizontais > div#info
{
    flex: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;

    max-width: 600px !important;
}

div#info > h1 
{
    font-family: 'Chewy';
    font-size: 2.8em;
    text-align: center;
}

div#info > p
{
    text-indent: 15px;
    text-align: justify;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.5em;
    padding: 15px;
}

div#conteudos-horizontais > div#video 
{
    flex: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    max-width: 600px !important;
    min-width: 400px !important;
}

div#video > iframe
{
    width: 100%;
}

section#sobre-nos div#location
{
    width: 100%;
}

div#location > iframe
{
    width: 100%;
}

/*
    Para fazer referência no CSS: 

    class = .nomedaclasse
    id = #nomedoid
*/

/* Configurações do footer */
footer 
{
    background-color: var(--cor1);
    width: 100vw;
    padding: 10px;
    
    position: relative; 
    display: flex;
    flex-flow: column wrap;
    justify-content: center !important;
    align-items: center;
}

footer  div.info-rodape
{
    /*background-color: brown;*/
    width: 90%;

    display: flex;
    flex-flow: row wrap;
    justify-content: center !important;
    align-items: center;
}

div.info-rodape  #endereco 
{
    max-width: 350px;
    padding: 5px;
    margin: 8px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex: auto;
}

#endereco i.fa-location-dot 
{
    color: var(--cor3);
    flex: 0 1 auto;
    margin-right: 15px;
}

#endereco span
{
    text-align: justify;
    max-width: 280px;
}

div.info-rodape  #telefone 
{
    max-width: 400px;
    text-align: justify;
    margin: 8px;
    padding: 5px;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    flex: auto;
}

#telefone i.fa-phone
{
    flex: 0 1 auto;
    margin-right: 15px;   
}

div.info-rodape  #email 
{
    max-width: 200px;
    margin: 8px;
    padding: 5px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex: auto;
}

#email i.fa-envelope 
{
    flex: 0 1 auto;
}

footer p, footer span 
{
    color: var(--cor3);
}

footer  p#copyright
{
    text-align: center;
    font-size: 0.8em;
    margin-top: 15px;
}

footer a 
{
    color: #dddddd;
    text-decoration: none;
    text-align: justify;
}

footer a:hover
{
    color: #ffffff;
}

footer i 
{
    color: var(--cor3);
    font-size: 1.3em;
}

@media screen and (width <= 600px){
    footer  div.info-rodape
    {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start !important;
        align-items: center;
    }

    div.info-rodape  #endereco 
    {
        padding-left: 15px;
        
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    #endereco i.fa-location-dot 
    {
        color: var(--cor3);
        flex: 0 1 auto;
        margin-right: 15px;
    }

    div.info-rodape  #telefone 
    {
        width: 400px;
        padding-left: 15px;
        
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
    }

    #telefone i.fa-phone
    {
        flex: 0 1 auto;
        margin-right: 15px;   
    }

    div.info-rodape  #email 
    {
        max-width: 400px;
        padding-left: 15px;

        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    #email i.fa-envelope 
    {
        flex: 0 1 auto;
    }
}
