@charset "UTF-8";

/* Variáveis de cor */
:root 
{
    --cor1: #000000;
    --cor2: #04002b;
    --cor3: #ffffff;
}

/*Fontes do site*/

/*para título*/
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Chewy&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body 
{
    min-height: 100vh;
    width: 100vw;
    overflow-x: clip;
    /*background-color: var(--cor2);*/
    background-color: var(--cor2);
    display: flex;
    flex-flow: column wrap;
}

/*configurações do header*/

header
{
    background-color: var(--cor1) !important;

}

header > nav 
{
    color: var(--cor3) !important;
}

nav.nav-bar .navbar-toggler
{
    color: var(--cor3) !important;
}

.nav-link 
{
    color: var(--cor3) !important;
}

/*configurações do main*/

main 
{
    flex: 1;
}

.carousel-item, .d-block 
{
    max-height: 600px !important;
}

/*configuração section#destaque*/

main section#destaque 
{
    color: #ffffff;
    display: flex;
    flex-flow: column wrap; /*simplificação das propriedades flex-direction e flex-wrap (shorthands)*/
    justify-content: center; /*main-axis --> eixo principal*/
    align-items: center; /*cross-axis --> eixo transversal (secundário)*/
    margin-top: 35px;
}

section#destaque > h1
{
    font-size: 2.5em;
    font-weight: 600;
    font-family: 'Chewy';
}

section#destaque hr
{
    color: #ffffff;
    width: 25%;
}

section#destaque div#itens-destaque
{
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

div#itens-destaque div.item 
{
    background-color: #ffffff;
    max-width: 250px;
    max-height: 350px;
    margin: 0px 40px 35px 40px;
    padding: 10px;
    border-radius: 20px;
    color: #000000;

    flex: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

div.item img 
{
    width: 210px;
    height: 180px;
    flex: auto;
    border-radius: 20px;
}

div.item h1 
{
    margin-top: 15px;
    font-size: 1.7em;
    font-weight: 600;
    font-family: 'Chewy';
}


/* configuração da área sobre-nós */

main section#sobre-nos
{
    display: flex;
    flex-flow: column wrap;
    
    color: #ffffff;
}

section#sobre-nos > div#conteudos-horizontais
{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;

    margin-top: 25px;
    padding-bottom: 20px;
}

div#conteudos-horizontais > div#info
{
    flex: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;

    max-width: 600px;
}

div#info > h1 
{
    font-family: 'Chewy';
    font-size: 2.8em;
    text-align: center;
}

div#info > p
{
    text-indent: 15px;
    text-align: justify;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.5em;
    padding: 15px;
}

div#conteudos-horizontais > div#video 
{
    flex: auto;
    display: flex;
    justify-content: center;

    max-width: 600px;
    padding: 20px;
}

section#sobre-nos div#location
{
    width: 100%;
}

div#location > iframe
{
    width: 100%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.384);
}

/*
    Para fazer referência no CSS: 

    class = .nomedaclasse
    id = #nomedoid
*/

/* Configurações do footer */
footer 
{
    background-color: var(--cor1);
    width: 100vw;
    padding: 10px;
    position: relative; 
    display: flex;
    flex-flow: column wrap;
}

footer  div.end-email
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

div.end-email  #endereco 
{
    display: flex;
    padding: 5px;
    flex-flow: row wrap;
    text-align: justify;
    align-items: center;
    flex: auto;
}

#endereco i.fa-location-dot 
{
    color: var(--cor3);
    flex: 0 1 auto;
    margin-right: 10px;
}

div.end-email  #telefone 
{
    display: flex;
    flex-flow: row nowrap;
    text-align: justify;
    align-items: center;
    flex: auto;
    padding: 5px;
}

#telefone i.fa-phone
{
    flex: 0 1 auto;
    margin-right: 10px;   
}

div.end-email  #email 
{
    display: flex;
    padding: 5px;
    flex-flow: row wrap;
    text-align: justify;
    align-items: center;
    flex: auto;
}

#email i.fa-envelope 
{
    flex: 0 1 auto;
    margin-right: 10px;
}

footer p, footer span 
{
    color: var(--cor3);
}

footer  p#copyright
{
    text-align: center;
    font-size: 0.8em;
    margin-top: 15px;
}

footer a 
{
    color: var(--cor3);
    text-decoration: var(--cor3);
}

footer i 
{
    color: var(--cor3);
}
